<div class="col-12">
    <form class="form" [formGroup]="addTypeArticleForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="form-group col-6">
                <label for="libelle">Libelle</label>
                <input pInputText class="form-control" id="libelle" placeholder="Libelle" formControlName="libelle">
            </div>
            <div class="form-group col-6">
                <label for="desc"> Description </label>
                <input pInputText type="text" id="desc" class="form-control" formControlName="description">
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button pButton pRipple type="submit" [disabled]="!addTypeArticleForm.valid" label="Enregistrer" class="mt-2 p-btn-success"></button>
        </div>
    </form>
</div>