<div class="container mt-3">
    <div class="card">
        <div class="container">
            <p-table #dt [value]="typeArticles" [rows]="10" [columns]="columns"
                [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]"
                selectionMode="single" [showFirstLastIcon]="false">
                <ng-template pTemplate="caption">
                    <div class="row">
                        <h2>Liste des types d'articles</h2>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <button pButton  label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openAddTypeArticle()"></button>
                        <form #f="ngForm" (ngSubmit)="search(f.value)">
                          <div class="form-group">
                            <input ngModel name="key" type="text" pInputText placeholder="Recherchez..."/>
                            <button
                              pButton
                              icon="pi pi-search"
                              class="mx-1 p-button-outlined"
                            ></button>
                          </div>
                        </form>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                        <th class="text-center"> Operations </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-typeArticle>
                    <tr>
                        <td> {{ typeArticle.libelle }} </td>
                        <td> {{ typeArticle.description }} </td>
                        <td> {{ typeArticle.id }} </td>
                        <td class="text-center">
                            <button (click)="openEditTypeArticle(typeArticle)" pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-success"></button>
                            <button (click)="onDelete(typeArticle.id)" pButton type="button" icon="pi pi-trash" class="p-button-text p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>   
    </div> 
</div>
<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h3>Confirmation</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" class="p-button-danger" label="Non" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-toast position="top-right"></p-toast>
