<nav class="navbar bg">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="/article" class="nav-link">Article</a>
            </li>
            <li class="nav-item">
                <a routerLink="/type-article" class="nav-link">Type Article</a>
            </li>
            <li class="nav-item">
                <a routerLink="/agence" class="nav-link">Agence</a>
            </li>
            <li class="nav-item">
                <a routerLink="/stock" class="nav-link">Approvisionnement</a>
            </li>
        </ul>
        <button routerLink="/login" pButton type="button" class="p-button p-button-warning" icon="pi pi-power-off"></button>
    </div>

</nav>